{{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
	{{#foreach tags}}
		<article class="post tag-pattern">
			<div class="inner">
				<div class="box tag-box">
					<h2 class="post-title">
						<a href="{{ url }}">{{ name }}</a>
					</h2>
					<span class="post-meta">
					{{plural count.posts empty=(t "No Posts") singular=(t "% Post") plural=(t "% Posts")}}
					{{t "/" }}{{ slug }}
					</span>
				</div>
			</div>
		</article>
	{{/foreach}}
{{/get}}
